.App {
  text-align: ;
}

.background {
  height: 100vh;
  background: rgb(209,100,1);
  background: radial-gradient(circle, rgba(209,100,1,1) 0%, rgba(131,3,26,1) 100%);
  display: flex;
  align-items: middle;
}

.msg{
  border: 2px solid grey;
  border-radius: 7px;
  color: white;
  margin: 12px 30px;
  padding: 5px;
  background-color: darkgray;

}

.box{
  background-color: #424242;
}

.container{
  display: flex;
}

.contentbox{
  background-color: black;
  border-radius: 10px;
  margin:60px;
  padding: 5px;
  height: 500px;
  overflow: scroll;
  display: flex;
  width: 60%;
  position: fixed;
  
}
.inputbox{
  position: fixed;
  bottom: 19px;
  display: flex;
  flex-direction: row;
  float:left;

}
.inputfieldname{
  padding: 20px 0px;
  width: 100px;
  float:left;
  border: 2px solid white;
  margin-left: 0px;
  margin-right: 6px;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

.inputfieldmsg{
  padding: 20px 0px;
  width: 640px;
  float:left;
  border: 2px solid white;
  margin-right: 2px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.buttonsend{
  padding: 20px 0;
  width: 10%;
  float:initial;
  border: 2px solid white;
  border-radius: 5%;
  margin-left: 2px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}